
.search-container{
    display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-bar{
    width: 50%;
    height: 40%;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}